@media screen and (max-width: 767px) {
    :is(.header__left, .left__side-bar, .right__side-bar) {
        display: none;
    }

    .header__center {
        width: 100%;
    }

    #app-container {
        height: 100vh;
        margin-top: 0;
        padding: 16px;
        border-radius: 0;
        box-shadow: none;
    }

    #content {
        height: calc(100% - 64px);
    }

    .music-container {
        height: calc(100% - 64px);
        justify-content: space-around;
    }

    .music-info {
        width: 80%;
    }

}